venv/
.env
data/
__pycache__/
*.pyc
.pytest_cache/
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
dbt_project/profiles.yml
dbt_project/.user.yml
commands.sh
commands_usage.sh
logs/athena/
logs/dbt.log
*.png
*.svg
