venv/
data/
__pycache__/
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
dbt_project/.user.yml
logs/
*.sh
*.png
*.svg
*.pbix
.*

!.gitignore
!.github/
!.env.example
!docs/screenshots/**